<h1>Home</h1>

<h2>Pages:</h2>
<ul>
  <% 1.upto((MAX_PAGES / 10) - 1) do |idx| %>
    <% page_number = "#{idx}0"  %>
    <li><a href="/page/<%= page_number %>">Page <%= page_number %></a></li>
  <% end %>
</ul>
